:root {
  --red: #dc3545;
}

/*! ---------------------- 1- NAVBAR ----------------------------- */
.navbar-light {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(59, 59, 59);
  transition: color 1s;
}

.navbar-light .nav-link:hover {
  color: var(--red);
}
/*! ---------------------- 2- CAROUSEL ----------------------------- */
.carousel-item {
  max-height: calc(100vh - 88px);
}

.carousel-item h1 {
  color: var(--red);
  text-shadow: 2px 2px 2px black;
}
.carousel-item p {
  color: white;
  font-weight: 500;
}

.carousel-item .buttons .btn {
  width: 7rem;
  margin-bottom: 1rem;
}

.carousel-indicators button {
  background-color: var(--red) !important ;
  height: 0.4rem !important;
  width: 3rem !important ;
  margin-right: 0.7rem !important;
}
.carousel-caption {
  bottom: 5rem; /*20vh */
}

/*! --------------- 3- ABOUT SECTION ----------- */

/*! ------------ 4- STUDENTS SECTION ----------- */
section#instructors .socials i {
  transition: opacity 1s;
}

section#instructors .socials i:hover {
  opacity: 0.5;
}
section#instructors .card {
  transition: transform 1s;
}

section#instructors .card:hover {
  transform: scale(1.05);
}
/*! ------------ 5- COURSES SECTION ------------- */
section#courses .nav-link {
  color: white;
}

section#courses .nav-item .nav-link.active {
  background-color: var(--red);
}
/*! ------------ 6- CONTACT SECTION ------------ */

/*! ---------------- 7- FOOTER --------------- */
